.introduction
	&.__jeraby
		background-color red
		background-image url('/assets/categories/jeraby/home-jerab.png')
		background-repeat no-repeat
		background-size 25%
		background-position 83% 67%
		background-attachment fixed