$color-white=#fff
$color-purple-dark=#4c0020
$color-purple-lighter=#780032
$color-purple-lightest=#ff4794
$color-black-op-40=#0000008f
$col-blue=#0070f6

$col-outline=$col-blue

$default-font-color=$color-purple-dark
$font-color-headings=$color-purple-lighter


// links
$hovered-link-color=$color-purple-lightest

// buttons
$button-default-background=$color-purple-lightest
$button-default-color=$color-white

//badges
$badge-default-background=$color-purple-lightest
$badge-default-border=$color-purple-lightest

// modals
$col-bckg-modal=$color-black-op-40
$col-modal-shadow=rgba(98, 46, 0, 0.12)
$col-close=$color-purple-lightest

// inputs
$col-input-bckg=$color-white
$col-input-border=$color-black-op-40
$col-input-border-valid=$color-black-op-40
$col-input-font-active=$default-font-color
$col-input-border-invalid=red
$col-input-font-invalid=red
$col-input-border-disabled=gray
$col-input-font-disabled=gray
$col-input-font-plchld-disabled=gray
