$color-white=#fff
$color-purple-dark=#4c0020
$color-purple-lighter=#780032
$color-purple-lightest=#ff4794
$color-black-op-40=#0000008f

$default-font-color=$color-purple-dark
$font-color-headings=$color-purple-lighter


// links
$hovered-link-color=$color-purple-lightest

// buttons
$button-default-background=$color-purple-lightest
$button-default-color=$color-white

//badges
$badge-default-background=$color-purple-lightest
$badge-default-border=$color-purple-lightest

// modals
$col-bckg-modal=$color-black-op-40
$col-modal-shadow=rgba(98, 46, 0, 0.12)
$col-close=$color-purple-lightest