.badge
	display flex
	justify-content center
	align-items center
	max-height $badge-max-height
	// font-size $badge-font-size
	// font-weight $font-weight-bold
	// !TODO - background based on state
	background-color $badge-default-background
	opacity 0.5
	// color $col-font-btn
	// border-radius $badge-border-radius
	// text-transform $text-transform
	padding $badge-padding
	border 1px solid $badge-default-border
	&.-red
		background-color $col-badge-red
	&.-grey
		background-color $col-badge-grey
	&.-warn
		background-color $col-badge-orange 
		color $col-main-gray