.btn
	max-height $button-max-height
	background-color $button-default-background
	color $button-default-color
	padding $button-default-padding-y $button-default-padding-x $button-default-padding-y $button-default-padding-x
	cursor pointer