// media
$media-mobile=500px

// buttons
$button-max-height=40px
$button-default-padding-y=7px
$button-default-padding-x=15px

// badge
$badge-max-height=40px
$badge-padding=7px

// modal
$modal-border-radius=2px
$modal-shadow=0px 20px 24px $col-modal-shadow, 0px 0px 24px $col-modal-shadow
$modal-width=450px
$modal-max-height=500px
$modal-min-height=500px
$modal-close-border-radius=$modal-border-radius $modal-border-radius 0 0

// inputs
$text-input-min-height=50px
$input-text-size=16px
$input-text-weight=300
$input-border-radius=4px
$input-left-padding=25px
$input-b-s-t=solid
$input-b-s-r=solid
$input-b-s-b=solid
$input-b-s-l=solid
$input-placehld-active-font-size=12px
