// $font-family='Oswald', sans-serif
// $font-family='Roboto Mono', monospace;
// $font-family='Dosis', sans-serif
// $font-family='Quattrocento Sans', sans-serif;
// $font-family='Gayathri', sans-serif;
// $font-family='MuseoModerno', cursive;
// $font-family='Vastine', curier;

// @font-face {
// 	font-family: $font-family
// 	src: local('Vastine') url('/fonts/VastinePersonalUse-jE4ZG.otf') format('opentype')
// }




// html
// 	font-family $font-family
// 	font-size 14px

	$default-font-size=14px

	$font-weight-regular=400
	$font-weight-bold=600

	// $font-family='Vastine', serif;
	$font-family='Avenir next', serif;
	
	$font-family-hs='kaiju', serif;
	// $font-family-hs='omega sans', serif;
	// $font-family-hs='goldies', serif;
	// $font-family-hs='brandbe', serif;
	// $font-family-hs='dreams', serif;
	// $font-family-hs='active-space', serif;
	// $font-family-hs='active-space-outline', serif;
	// $font-family-hs='searocks', serif;

	@font-face {
		font-family: 'omega sans'
		src: url('~@/styles/fonts/Omega+Sans+Regular.ttf') format('truetype')
	}

	@font-face {
		font-family: 'kaiju'
		font-style: normal;
  		font-weight: 700;
		src: url('~@/styles/fonts/Kaiju Bold.ttf') format('truetype')
	}

	@font-face {
		font-family: 'kaiju'
		font-style: normal;
  		font-weight: 400;
		src: url('~@/styles/fonts/Kaiju.ttf') format('truetype')
	}

	

	// @font-face {
	// 	font-family: 'goldies'
	// 	src: url('~@/styles/fonts/The Goldies DEMO.ttf') format('truetype')
	// }


	@font-face {
		font-family: 'Vastine';
		src: local('Vastine'), url('~@/styles/fonts/VastinePersonalUse-jE4ZG.otf') format('opentype');
	}

	@font-face {
		font-family: 'Avenir next'
		src: local('Avenir next'), url('~@/styles/fonts/Nunito-Regular.ttf') format('truetype')
	}

	@font-face {
		font-family: 'searocks'
		src: local('searocks'), url('~@/styles/fonts/Searocks OTF.otf') format('opentype')
	}

	

	// @font-face {
	// 	font-family: 'dreams'
	// 	src: local('dreams'), url('~@/styles/fonts/DREAMS.ttf') format('truetype')
	// }

	// @font-face {
	// 	font-family: 'brandbe'
	// 	src: local('brandbe'), url('~@/styles/fonts/Brandbe Extra Bold.otf') format('opentype')
	// }
	

	// @font-face {
	// 	font-family: 'active-space'
	// 	src: local('active-space'), url('~@/styles/fonts/ActiveSpaceDemoRegular.ttf') format('truetype')
	// }

	// @font-face {
	// 	font-family: 'active-space-outline'
	// 	src: local('active-space-outline'), url('~@/styles/fonts/ActiveSpaceDemoOutline.ttf') format('truetype')
	// }

	

	// .app
	// 	font-family $font-family
	// 	font-size 14px

	// 	// font
	// 	.h1
	// 		font-family $font-family-hs
	// 		font-weight 600
	// 		font-size 4.7rem
	// 		color $font-color
	// 	.h2
	// 		font-family $font-family-hs
	// 		font-weight 600
	// 		font-size 2.5rem
	// 		color #780032
	// 	.h3
	// 		font-family $font-family-hs
	// 		font-weight 600
	// 		font-size 1.5rem
	// 		color #780032

	// 	// font modifiers
	// 	.-bold
	// 		font-weight 600
