$color-white=#fff
$color-purple-dark=#4c0020
$color-purple-lighter=#780032
$color-purple-lightest=#ff4794

$default-font-color=$color-purple-dark
$font-color-headings=$color-purple-lighter
$hovered-link-color=$color-purple-lightest

$button-default-background=$color-purple-lightest
$button-default-color=$color-white