// $font-family='Oswald', sans-serif
// $font-family='Roboto Mono', monospace;
// $font-family='Dosis', sans-serif
// $font-family='Quattrocento Sans', sans-serif;
// $font-family='Gayathri', sans-serif;
$font-family='MuseoModerno', cursive;

html
	font-family $font-family
	font-size 16px
